pygame
numpy
pillow
h5py
click
termcolor
scipy
torch
matplotlib
tqdm
pybullet
setuptools
tensorboardx
ray
pandas
jax[cuda]
torchvision
optax
flax
clu
python-dateutil
tabulate
scikit-learn
tensorboard
minari[all]
dm_control
tensorflow-probability
imageio
mujoco=3.2.3