gym~=0.23.1
d4rl~=1.1
pygame
numpy
pillow
h5py
click
mjrl
termcolor
scipy
torch
matplotlib
tqdm
pybullet
setuptools
tensorflow-probability
tensorboard
tensorboardx
ray
pandas
jax[cuda12]
torchvision
optax
flax
clu
python-dateutil
tabulate
scikit-learn